<a href="https://colab.research.google.com/github/ulrikSebastienR/Colab-python-diaries/blob/master/bb_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.w3schools.com/python/python_classes.asp

In [0]:
class MyClass():
  x = 5

In [24]:
print(MyClass)

<class '__main__.MyClass'>

In [25]:
y = MyClass() # defining y as an object of the class
print(y) # printing y shows it to be an object of the class
print(y.x) #the value of x for the element y

<__main__.MyClass object at 0x7fc655bdc438>
5

In [0]:
class Person():
  def __init__(self,name,age):
    self.name = name
    self.age = age

In [27]:
print(Person)

<class '__main__.Person'>

In [0]:
person1 = Person('John',36)

In [29]:
print(person1.name)

John

In [30]:
print(person1.age)

36

In [0]:
class Person(): #defining class
  def __init__ (self,first_name, family_name, age): #initiating class with variables in mind
    self.first_name = first_name
    self.family_name = family_name
    self.age = age
    self.name = self.first_name + " " + self.family_name # defined data without using methods
    self.email = self.first_name + str(self.age) + self.family_name + "@gmail.com"

In [0]:
Person1 = Person('Ulrik','Sebastien', 12)

In [33]:
print(Person1) # Creating a person object for this class

<__main__.Person object at 0x7fc655b5b550>

In [34]:
print("Person1's name is:", Person1.first_name )
print("Person1's family name is:", Person1.family_name)
print("Person1's age is:", Person1.age)

Person1's name is: Ulrik
Person1's family name is: Sebastien
Person1's age is: 12

In [35]:
print("Person1's name is:", Person1.name)
print("Person1's email is:", Person1.email)

Person1's name is: Ulrik Sebastien
Person1's email is: Ulrik12Sebastien@gmail.com

In [0]:
# Defining a method or writing a function for this class.

In [0]:
class Person(): # wrote a class 
  def __init__(self, first_name, family_name, age): # initiliazed the class and set its data/variables
    self.first_name = first_name
    self.family_name = family_name
    self.age = age

  def personal_details(self): # Note that Methods have the same indentation as of class initialization/ data.
      name = self.first_name + " " + self.family_name # wrote a method for the class
      print("this person's name is", name)
      print("this person's email is:  ", self.first_name, self.family_name, self.age, "@gmail.com", sep="")
      email = self.first_name + self.family_name + str(self.age) + "@gmail.com"

In [38]:
person2 = Person('Aurore', 'Bastide', 14) # created an object of the class 
print(type(person2))
print(person2)

<class '__main__.Person'>
<__main__.Person object at 0x7fc655b5bba8>

In [39]:
print(person2.first_name) # saw this object's data using dot notation
print(person2.family_name)
print(person2.age)

Aurore
Bastide
14

In [40]:
person2.personal_details() # called the function using dot notation

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

In [0]:
#print(person2.personal_details().name) # causes an error 'NoneType' object has no attribute 'name'
# as using dot notation sets the name and email for the person but to access them, the function must return these values

In [0]:
class Person(): # wrote a class 
  def __init__(self, first_name, family_name, age): # initiliazed the class and set its data/variables, constructor of the class
    self.first_name = first_name # self is always the first argument of the class
    self.family_name = family_name
    self.age = age

  def personal_details(self): # Note that Methods have the same indentation as of class initialization/ data.
      name = self.first_name + " " + self.family_name # wrote a method for the class
      print("this person's name is", name)
      print("this person's email is:  ", self.first_name, self.family_name, self.age, "@gmail.com", sep="")
      email = self.first_name + self.family_name + str(self.age) + "@gmail.com" # Note that we have converted age to a string value otherwise error is thrown.

      return name, email

In [43]:
person2 = Person("Aurore", "Bastide", 14)
person2.personal_details()

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

('Aurore Bastide', 'AuroreBastide14@gmail.com')

In [44]:
contact_person2 = person2.personal_details()

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

In [45]:
name_person2 = contact_person2[0]
print(name_person2)

Aurore Bastide

In [46]:
email_person2 = contact_person2[1]
print(email_person2)

AuroreBastide14@gmail.com

In [47]:
#changing the property of the object
person2.age = 40
print(person2.age)

40

In [0]:
# creating an empty class or a class with properties same as those of parent class
class NewClass:
  pass

In [49]:
print(NewClass)

<class '__main__.NewClass'>

In [0]:
#inheritance https://www.w3schools.com/python/python_inheritance.asp

In [0]:
class GradeXII:
  def __init__ (self, name, age):
    self.name = name
    self.age = age
  
  def print_details(self): #Note that function must have self as parameter because we are going to apply this on argument 'self' 
                           #else you will get the error that one argument is being passed to the function
    email = self.name + str(self.age) + "@gmail.com"
    print("Email of Student ", self.name, "is: ", email)

    return(self.name, self.age, email)

In [107]:
print(type(GradeXII))

<class 'type'>

In [108]:
print(GradeXII)

<class '__main__.GradeXII'>

In [0]:
Student1 = GradeXII('Jane',11)

In [110]:
print(type(Student1))

<class '__main__.GradeXII'>

In [111]:
print(Student1.name)

Jane

In [112]:
print(Student1.age)

11

In [113]:
Student1.print_details()
print(type(Student1.print_details))

Email of Student  Jane is:  Jane11@gmail.com
<class 'method'>

In [0]:
import pandas as pd

In [115]:
t = Student1.print_details()

Email of Student  Jane is:  Jane11@gmail.com

In [116]:
print(t)

('Jane', 11, 'Jane11@gmail.com')

In [117]:
print(type(t))

<class 'tuple'>

In [0]:
df = pd.DataFrame()

In [0]:
df = pd.DataFrame(t, index=["Name", "Age", "email"], columns = [ "Details"]) #convert tuple to DF https://stackoverflow.com/questions/28200157/list-of-tuples-to-dataframe-conversion

In [122]:
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
                Details
Name               Jane
Age                  11
email  Jane11@gmail.com

In [0]:
df1 = df.transpose() # Rotate the dataframe or convert rows to columns or viceversa

In [124]:
print(df1)
print(type(df1))

         Name Age             email
Details  Jane  11  Jane11@gmail.com
<class 'pandas.core.frame.DataFrame'>