<a href="https://colab.research.google.com/github/ulrikSebastienR/Colab-python-diaries/blob/master/bb_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.w3schools.com/python/python_classes.asp

In [0]:
class MyClass():
  x = 5

In [46]:
print(MyClass)

<class '__main__.MyClass'>

In [47]:
y = MyClass() # defining y as an object of the class
print(y) # printing y shows it to be an object of the class
print(y.x) #the value of x for the element y

<__main__.MyClass object at 0x7f86f8e78e80>
5

In [0]:
class Person():
  def __init__(self,name,age):
    self.name = name
    self.age = age

In [49]:
print(Person)

<class '__main__.Person'>

In [0]:
person1 = Person('John',36)

In [51]:
print(person1.name)

John

In [52]:
print(person1.age)

36

In [0]:
class Person(): #defining class
  def __init__ (self,first_name, family_name, age): #initiating class with variables in mind
    self.first_name = first_name
    self.family_name = family_name
    self.age = age
    self.name = self.first_name + " " + self.family_name # defined data without using methods
    self.email = self.first_name + str(self.age) + self.family_name + "@gmail.com"

In [0]:
Person1 = Person('Ulrik','Sebastien', 12)

In [99]:
print(Person1) # Creating a person object for this class

<__main__.Person object at 0x7f86f8e83b00>

In [95]:
print("Person1's name is:", Person1.first_name )
print("Person1's family name is:", Person1.family_name)
print("Person1's age is:", Person1.age)

Person1's name is: Ulrik
Person1's family name is: Sebastien
Person1's age is: 12

In [98]:
print("Person1's name is:", Person1.name)
print("Person1's email is:", Person1.email)

Person1's name is: Ulrik Sebastien
Person1's email is: Ulrik12Sebastien@gmail.com

In [0]:
# Defining a method or writing a function for this class.

In [0]:
class Person(): # wrote a class 
  def __init__(self, first_name, family_name, age): # initiliazed the class and set its data/variables
    self.first_name = first_name
    self.family_name = family_name
    self.age = age

  def personal_details(self): # Note that Methods have the same indentation as of class initialization/ data.
      name = self.first_name + " " + self.family_name # wrote a method for the class
      print("this person's name is", name)
      print("this person's email is:  ", self.first_name, self.family_name, self.age, "@gmail.com", sep="")
      email = self.first_name + self.family_name + str(self.age) + "@gmail.com"

In [205]:
person2 = Person('Aurore', 'Bastide', 14) # created an object of the class 
print(type(person2))
print(person2)

<class '__main__.Person'>
<__main__.Person object at 0x7f86f8dab588>

In [206]:
print(person2.first_name) # saw this object's data using dot notation
print(person2.family_name)
print(person2.age)

Aurore
Bastide
14

In [207]:
person2.personal_details() # called the function using dot notation

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

In [189]:
print(person2.personal_details().name) # causes an error 'NoneType' object has no attribute 'name'
# as using dot notation sets the name and email for the person but to access them, the function must return these values

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

AttributeError: ignored

In [0]:
class Person(): # wrote a class 
  def __init__(self, first_name, family_name, age): # initiliazed the class and set its data/variables
    self.first_name = first_name
    self.family_name = family_name
    self.age = age

  def personal_details(self): # Note that Methods have the same indentation as of class initialization/ data.
      name = self.first_name + " " + self.family_name # wrote a method for the class
      print("this person's name is", name)
      print("this person's email is:  ", self.first_name, self.family_name, self.age, "@gmail.com", sep="")
      email = self.first_name + self.family_name + str(self.age) + "@gmail.com" # Note that we have converted age to a string value otherwise error is thrown.

      return name, email

In [212]:
person2 = Person("Aurore", "Bastide", 14)
person2.personal_details()

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

('Aurore Bastide', 'AuroreBastide14@gmail.com')

In [213]:
contact_person2 = person2.personal_details()

this person's name is Aurore Bastide
this person's email is:  AuroreBastide14@gmail.com

In [214]:
name_person2 = contact_person2[0]
print(name_person2)

Aurore Bastide

In [215]:
email_person2 = contact_person2[1]
print(email_person2)

AuroreBastide14@gmail.com