<a href="https://colab.research.google.com/github/ulrikSebastienR/Colab-python-diaries/blob/master/bb_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df = pd.read_csv("http://bit.ly/smallstocks")
print(df)
print(df.info())

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9 non-null      object
 1   Close   9 non-null      float64
 2   Volume  9 non-null      int64
 3   Symbol  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 416.0+ bytes
None

In [3]:
print(df.head())
print(df.tail())

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
         Date   Close    Volume Symbol
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [5]:
print(df.describe())

            Close        Volume
count    9.000000  9.000000e+00
mean    67.256667  1.924811e+07
std     35.999591  5.132421e+06
min     31.350000  1.180860e+07
25%     31.590000  1.672640e+07
50%     57.420000  1.918950e+07
75%    112.520000  2.145310e+07
max    113.050000  2.973680e+07

In [6]:
df.to_excel('output.xlsx')
output = pd.read_excel('output.xlsx')
print(type(output))
print(output)

<class 'pandas.core.frame.DataFrame'>
   Unnamed: 0        Date   Close    Volume Symbol
0           0  2016-10-03   31.50  14070500   CSCO
1           1  2016-10-03  112.52  21701800   AAPL
2           2  2016-10-03   57.42  19189500   MSFT
3           3  2016-10-04  113.00  29736800   AAPL
4           4  2016-10-04   57.24  20085900   MSFT
5           5  2016-10-04   31.35  18460400   CSCO
6           6  2016-10-05   57.64  16726400   MSFT
7           7  2016-10-05   31.59  11808600   CSCO
8           8  2016-10-05  113.05  21453100   AAPL