<a href="https://colab.research.google.com/github/ulrikSebastienR/Colab-python-diaries/blob/master/getting_all_tables_from_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import html5lib

In [0]:
url = "https://www.moneycontrol.com/mutual-funds/nav/franklin-india-feeder-franklin-u-s-opportunities-fund-direct-dividend/MTE306"

In [0]:
values = pd.read_html(url)

In [5]:
print(values)

[                                                   0                                                 1
0  Fund Size  : ₹ 1306.64 Cr  (8.91% of Investmen...  Expense Ratio  : 0.76%  (0.73% Category average)
1                                                NaN                                               NaN,   Period Invested for ₹10000 Invested on  ...  Category Avg Rank within Category
0              1 Week          25-Mar-20  ...        -0.24%                61/70
1             1 Month          28-Feb-20  ...       -12.00%                37/70
2             3 Month          31-Dec-19  ...       -14.02%                27/68
3             6 Month          01-Oct-19  ...        -7.35%                19/67
4                 YTD          31-Dec-19  ...       -13.20%                27/68
5              1 Year          01-Apr-19  ...        -3.84%                19/67
6              2 Year          28-Mar-18  ...         0.15%                11/64
7              3 Year          31-Mar-17  ...         3.15%                10/64
8              5 Year          31-Mar-15  ...         4.17%                 6/63
9     Since Inception          02-Jan-13  ...         3.99%                 2/71

[10 rows x 7 columns],   Period Invested for ₹1000 SIP Started on  ...  Absolute Returns  Annualised Returns
0              1 Year            01-Apr-19  ...           -6.42 %            -11.65 %
1              2 Year            28-Mar-18  ...             0.3 %              0.29 %
2              3 Year            31-Mar-17  ...           10.95 %              6.86 %
3              5 Year            31-Mar-15  ...           28.58 %              9.99 %

[4 rows x 6 columns],               Name Type of Instrument Weight (%)
0         MF Units           MF Units     99.52%
1  Net Receivables    Net Receivables      0.48%,                                          Scheme Name  Crisil Rank  ...     1Y     3Y
0             Kotak Gold Fund - Direct Plan - Growth          NaN  ...  43.38  16.02
1                       HDFC Gold Fund - Direct Plan          NaN  ...  39.49  14.59
2              Axis Gold Fund - Direct Plan - Growth          NaN  ...  39.08  14.25
3  Nippon India Gold Savings Fund - Direct Plan -...          NaN  ...  39.04  14.06
4            Quantum Gold Savings Fund - Direct Plan          NaN  ...  38.73  13.54
5  Aditya Birla Sun Life Gold Fund - Direct Plan ...          NaN  ...  38.65  13.86
6              IDBI Gold Fund - Direct Plan - Growth          NaN  ...  38.53  13.18
7  ICICI Prudential Regular Gold Savings Fund (FO...          NaN  ...  35.29  13.01
8     Invesco India Gold Fund - Direct Plan - Growth          NaN  ...  35.27  12.61
9  Edelweiss Greater China Equity Off-shore Fund ...          NaN  ...  13.64  16.01

[10 rows x 8 columns],                                          Scheme Name  Crisil Rank  ...     1Y     3Y
0  Franklin India Ultra Short Bond Fund - Super I...            2  ...   4.71   7.39
1       Franklin India Liquid Fund - Direct - Growth            2  ...   6.58   7.04
2  Franklin India Short Term Income Plan - Direct...            2  ...  -3.69   4.92
3       Franklin India Equity Fund - Direct - Growth            1  ... -33.71  -8.03
4  Franklin India Focused Equity Fund - Direct - ...            3  ... -30.94  -5.93
5        Franklin India Prima Fund - Direct - Growth            3  ... -30.46  -7.53
6  Franklin India Smaller Companies Fund - Direct...            3  ... -39.37 -13.44
7     Franklin India Bluechip Fund - Direct - Growth            1  ... -31.07  -7.05
8  Franklin India Credit Risk Fund - Direct - Growth            3  ...  -3.93   4.53
9      Franklin India Savings Fund - Direct - Growth            4  ...   7.75   7.78

[10 rows x 8 columns]]

In [19]:
type(values)

list

In [0]:
sheet1 = values[0],values[2],values[3],values[4]

In [21]:
type(sheet1)

tuple

In [0]:
# Now values we extracted from html are list but we accidentally converted them to tuple.

In [14]:
print(sheet1)

(                                                   0                                                 1
0  Fund Size  : ₹ 1306.64 Cr  (8.91% of Investmen...  Expense Ratio  : 0.76%  (0.73% Category average)
1                                                NaN                                               NaN,   Period Invested for ₹1000 SIP Started on  ...  Absolute Returns  Annualised Returns
0              1 Year            01-Apr-19  ...           -6.42 %            -11.65 %
1              2 Year            28-Mar-18  ...             0.3 %              0.29 %
2              3 Year            31-Mar-17  ...           10.95 %              6.86 %
3              5 Year            31-Mar-15  ...           28.58 %              9.99 %

[4 rows x 6 columns],               Name Type of Instrument Weight (%)
0         MF Units           MF Units     99.52%
1  Net Receivables    Net Receivables      0.48%,                                          Scheme Name  Crisil Rank  ...     1Y     3Y
0             Kotak Gold Fund - Direct Plan - Growth          NaN  ...  43.38  16.02
1                       HDFC Gold Fund - Direct Plan          NaN  ...  39.49  14.59
2              Axis Gold Fund - Direct Plan - Growth          NaN  ...  39.08  14.25
3  Nippon India Gold Savings Fund - Direct Plan -...          NaN  ...  39.04  14.06
4            Quantum Gold Savings Fund - Direct Plan          NaN  ...  38.73  13.54
5  Aditya Birla Sun Life Gold Fund - Direct Plan ...          NaN  ...  38.65  13.86
6              IDBI Gold Fund - Direct Plan - Growth          NaN  ...  38.53  13.18
7  ICICI Prudential Regular Gold Savings Fund (FO...          NaN  ...  35.29  13.01
8     Invesco India Gold Fund - Direct Plan - Growth          NaN  ...  35.27  12.61
9  Edelweiss Greater China Equity Off-shore Fund ...          NaN  ...  13.64  16.01

[10 rows x 8 columns])

In [23]:
type(sheet1)

tuple

In [0]:
table1 = list(sheet1)

In [0]:
#Now we will convert this tuple to a list as to_excel method doesn't work on lists

In [25]:
type(table1)

list

In [0]:
#to_excel method requires the class 'pandas.core.frame.DataFrame' and table1 is a list so we still can't write an .xlsx from it.

In [26]:
print(table1)

[                                                   0                                                 1
0  Fund Size  : ₹ 1306.64 Cr  (8.91% of Investmen...  Expense Ratio  : 0.76%  (0.73% Category average)
1                                                NaN                                               NaN,   Period Invested for ₹1000 SIP Started on  ...  Absolute Returns  Annualised Returns
0              1 Year            01-Apr-19  ...           -6.42 %            -11.65 %
1              2 Year            28-Mar-18  ...             0.3 %              0.29 %
2              3 Year            31-Mar-17  ...           10.95 %              6.86 %
3              5 Year            31-Mar-15  ...           28.58 %              9.99 %

[4 rows x 6 columns],               Name Type of Instrument Weight (%)
0         MF Units           MF Units     99.52%
1  Net Receivables    Net Receivables      0.48%,                                          Scheme Name  Crisil Rank  ...     1Y     3Y
0             Kotak Gold Fund - Direct Plan - Growth          NaN  ...  43.38  16.02
1                       HDFC Gold Fund - Direct Plan          NaN  ...  39.49  14.59
2              Axis Gold Fund - Direct Plan - Growth          NaN  ...  39.08  14.25
3  Nippon India Gold Savings Fund - Direct Plan -...          NaN  ...  39.04  14.06
4            Quantum Gold Savings Fund - Direct Plan          NaN  ...  38.73  13.54
5  Aditya Birla Sun Life Gold Fund - Direct Plan ...          NaN  ...  38.65  13.86
6              IDBI Gold Fund - Direct Plan - Growth          NaN  ...  38.53  13.18
7  ICICI Prudential Regular Gold Savings Fund (FO...          NaN  ...  35.29  13.01
8     Invesco India Gold Fund - Direct Plan - Growth          NaN  ...  35.27  12.61
9  Edelweiss Greater China Equity Off-shore Fund ...          NaN  ...  13.64  16.01

[10 rows x 8 columns]]

In [27]:
table1.to_excel('table1.xlsx')

AttributeError: ignored