<a href="https://colab.research.google.com/github/ulrikSebastienR/Colab-python-diaries/blob/master/linear%20regression%20basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Resources : https://towardsdatascience.com/a-beginners-guide-to-linear-regression-in-python-with-scikit-learn-83a8f7ae2b4f

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance 
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# import seaborn as sns to try later
# The other big advantage of seaborn is that seaborn has some built-in plots that matplotlib does not. Most of these can eventually be replicated by hacking away at matplotlib, but theyâ€™re not built in and require much more code. 
#Facet plots and regression plots are just two examples of those that take much longer to create with matplotlib; 
#the regression plot does a regression line, confidence interval, and a scatter plot, all with one short function: sns.regplot(x="total_bill", y="tip", data=tips)!

#Making plots in seaborn also generally matches your intuition for what the syntax would be. For example, to make a barchart with confidence intervals, you can run the following code (having loaded the tips dataset with tips = sns.load_dataset("tips")):

#barplot = sns.barplot(x = "day", y = "total_bill", data = tips, order = ["Thur", "Fri", "Sat", "Sun"])
#barplot.set(xlabel = "Day", ylabel = "Average Total Bill", title = "Total Bill by Day")

In [0]:
#dataset = pd.read_csv

In [4]:
#pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/07/ab/8cd479fba8a9b197a43a0d55dd534b066fb8e5a0a04b5c0384cbc5d663aa/Quandl-3.5.0-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/52/c1/36be286d85dbd76527fb613527222a795d7c071da195fa916e7bf3cb03cb/inflection-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.21.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.3)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.4.0 quandl-3.5.0

In [0]:
#import quandl
#my_data = quandl.get("AMFI/146980")

In [5]:
#quandl.get("AMFI/146980")
#need to learn how to pass api key to quandl

SyntaxError: ignored

In [20]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving NAVOpen.csv.txt to NAVOpen.csv (1).txt
User uploaded file "NAVOpen.csv.txt" with length 728149 bytes

In [0]:
dataset = pd.read_csv('NAVOpen.csv.txt')

In [22]:
print(dataset)

     Scheme Code;ISIN Div Payout/ ISIN Growth;ISIN Div Reinvestment;Scheme Name;Net Asset Value;Date
0     Open Ended Schemes(Debt Scheme - Banking and P...
1                     Aditya Birla Sun Life Mutual Fund
2     119551;INF209KA12Z1;INF209KA13Z9;Aditya Birla ...
3     119552;INF209K01YM2;-;Aditya Birla Sun Life Ba...
4     119553;INF209K01YO8;-;Aditya Birla Sun Life Ba...
...                                                 ...
7507  119255;INF277K01QN3;-;Tata Retirement Savings ...
7508  119251;INF277K01QO1;-;Tata Retirement Savings ...
7509                                    UTI Mutual Fund
7510  100682;-;-;UTI - Retirement Benefit Pension Fu...
7511  120766;-;-;UTI - Retirement Benefit Pension Fu...

[7512 rows x 1 columns]

In [0]:
#We can open text files with pd.read_csv.

In [23]:
dataset.shape

(7512, 1)

In [24]:
print(dataset.shape)

(7512, 1)

In [0]:
import numpy as np

a = np.array([[[1,2,3],
             [4,5,6],
              [6,7,8]],[10,11,12]])

In [42]:
print(a.shape)
print(a.ndim)

(2, 3)
2

In [43]:
dataset.describe()

       Scheme Code;ISIN Div Payout/ ISIN Growth;ISIN Div Reinvestment;Scheme Name;Net Asset Value;Date
count                                                7512
unique                                               6744
top                          ICICI Prudential Mutual Fund
freq                                                   41

In [0]:
dataset2 = pd.read_csv("AMFI-146641.csv")

In [49]:
print(dataset2.describe())

       Net Asset Value  Repurchase Price  Sale Price
count       252.000000               0.0         0.0
mean          9.872305               NaN         NaN
std           0.653319               NaN         NaN
min           7.039100               NaN         NaN
25%           9.695750               NaN         NaN
50%          10.091750               NaN         NaN
75%          10.232525               NaN         NaN
max          10.502700               NaN         NaN

In [50]:
print(dataset2)

           Date  Net Asset Value  Repurchase Price  Sale Price
0    2020-04-08           8.1824               NaN         NaN
1    2020-04-07           8.1622               NaN         NaN
2    2020-04-03           7.5005               NaN         NaN
3    2020-04-01           7.5842               NaN         NaN
4    2020-03-31           7.9161               NaN         NaN
..          ...              ...               ...         ...
247  2019-04-02          10.1747               NaN         NaN
248  2019-04-01          10.1595               NaN         NaN
249  2019-03-29          10.1031               NaN         NaN
250  2019-03-28          10.0304               NaN         NaN
251  2019-03-27           9.9451               NaN         NaN

[252 rows x 4 columns]

In [52]:
print(dataset2.shape)

(252, 4)

In [53]:
print(dataset2.ndim)

2